{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<style>
    body{
        height: 732px;
    }
</style>
{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
{% if user.is_authenticated %}
<div class="container mt-3">
    <div class="row">
    <div class="col-md-3">
        {% include 'calendar/includes/reservation_month.html' %}
        <hr>
    </div>
    <div class="col-md-9">
        {% include 'calendar/includes/reservation_week.html' %}
    </div>
</div>

</div>
<nav class="nav">
    <a style="text-decoration: none;" href="{% url 'search_app:search_form' %}" id="1" class="nav__link nav__link--active">
        <i class="material-icons nav__icon">search</i>
    </a>
    <a style="text-decoration: none;" href="{% url 'favorite:favorite_list' %}" id="2" class="nav__link">
        <i class="material-icons nav__icon">favorite</i>
    </a>
    <a style="text-decoration: none;" href="{% url 'reservation:reservation_confirm' %}" id="3" class="nav__link">
        <i class="material-icons nav__icon">calendar_today</i>
    </a>
    <a style="text-decoration: none;" href="{% url 'chat:chat_list' %}" id="4" class="nav__link">
        <i class="material-icons nav__icon">mail_outline</i>
    </a>
    <a style="text-decoration: none;" href="{% url 'account:user_update' %}" id="5" class="nav__link">
        <i class="material-icons nav__icon">person</i>
    </a>
</nav>
{% else %}
ログインしてください
<p><a href="{% url 'register:login' %}">ログイン画面へ</a></p>
{% endif %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"crossorigin="anonymous"></script>
{% endblock %}
