{% extends "base.html" %}
{% load static %}
{% block customcss %}
<link rel="stylesheet" href="{% static 'account/pass_change.css' %}">
{% endblock customcss %}

{% block content %}
<form action="" method="POST">
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-lg">送信</button>
    <a href="{% url 'account:user_update' pk=user.pk %}">戻る</a>
</form>
<nav class="nav">
    <a href="#" id="1" class="nav__link">
        <i class="material-icons nav__icon">search</i>
    </a>
    <a href="#" id="2" class="nav__link">
        <i class="material-icons nav__icon">favorite</i>
    </a>
    <a href="#" id="3" class="nav__link">
        <i class="material-icons nav__icon">calendar_today</i>
    </a>
    <a href="#" id="4" class="nav__link">
        <i class="material-icons nav__icon">mail_outline</i>
    </a>
    <a href="{% url 'account:user_update' pk=user.pk %}" id="5" class="nav__link nav__link--active">
        <i class="material-icons nav__icon">person</i>
    </a>
</nav>
{% endblock %}