{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'user_detail.css' %}">
{% endblock customcss %}

    {% block content %}
    <div id="alert">
        <p>更新に成功しました</p>
    </div>
    <div class="icon">
        {% if user.icon %}
        <img src="{{object.icon.url}}" alt="">
        {% else %}
        <img src="{% static 'img/no_icon.png' %}" alt="" id="preview">
        {% endif %}
    </div>
    <table>
        <tr>
            <th>ユーザー名</th>
            <td>{{object.username}}</td>
        </tr>
        <tr>
            <th>メールアドレス</th>
            <td>{{object.email}}</td>
        </tr>
    </table>
    <div class="back">
        <a href="{% url 'account:user_update' %}">
            <p>戻る</p>
        </a>
        <nav class="nav">
            <a href="{% url 'search_app:search_form' %}" id="1" class="nav__link">
                <i class="material-icons nav__icon">search</i>
            </a>
            <a href="{% url 'favorite:favorite_list' %}" id="2" class="nav__link">
                <i class="material-icons nav__icon">favorite</i>
            </a>
            <a href="{% url 'reservation:reservation_confirm' %}" id="3" class="nav__link">
                <i class="material-icons nav__icon">calendar_today</i>
            </a>
            <a href="{% url 'chat:chat_list' %}" id="4" class="nav__link">
                <i class="material-icons nav__icon">mail_outline</i>
            </a>
            <a href="{% url 'account:user_update' %}" id="5" class="nav__link nav__link--active">
                <i class="material-icons nav__icon">person</i>
            </a>
        </nav>
    {% endblock content  %}
</body>

</html>