* {
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 183, 56);
  background-size: cover;
}

.logo{
  text-align: center;
}

img{
  width: 200px;
  height: 70px;
  margin-bottom: 30px;
}

.wrap {
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  font-family: sans-serif;
  background: #fff;
  border-radius: 10px;
}

.wrap h2 {
  font-size: 2em;
  text-align: center;
}

button {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-size: 1.3em;
  border-radius: 10px;
  font-weight: bold;
}

button a {
  text-decoration: none;
  color: #fff;
}

button:nth-child(1) {
  background: green;
}

button:hover {
  background: rgba(0, 0, 0, 0.6);
}

.fa {
  font-size: 1.3em;
  font-weight: bold;
}

form {
  margin-top: 30px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=submit] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 17px;
  border-radius: 5px;
  outline: none;
  border: 2px solid gray;
}

label {
  font-size: 20px;
  font-weight: bold;
}

input[type=submit] {
  background: red;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  padding: 15px;
  carsor: pointer;
}

input[type=submit]:hover {
  background: orange;
}

p a {
  text-align: none;
  font-weight: bold;
}