{% load static %}

{% block customcss %}
{% endblock customcss %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header><img src="{% static 'img/logo.png' %}" alt=""></header>

    {% block header %}
    {% endblock header %}

    {% block content %}
    
    {% endblock%}
    
    {% block footer %}
    {% endblock%}

    {% block extrajs %}
    {% endblock%}    
</body>

</html>